
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



h1{
  font-weight: 300;
    line-height: 68px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background:  "linear-gradient(91.16deg, #325FEC 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #325FEC 102.48%)";
    font-size: 60px; 
}
  h2 {
    font-weight: 300;
    line-height: 1.1;
    background: linear-gradient(
      91.16deg,
      #325FEC 1.74%,
      #FFFFFF 43.71%,
      #FFFFFF 61.62%,
      #325FEC 102.48%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 68px; /* Desktop default */
  }
  h3{
    font-weight: 300;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0%;
    background: linear-gradient(91.16deg, #BFBFBF 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #BFBFBF 102.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-gradient-text{
    background: linear-gradient(91.16deg, #325FEC 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #325FEC 102.48%);
 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 133%;
    font-weight: 100 !important;
    vertical-align: middle;
  }
  .dark-text{
    color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
    line-height: 133%;
    letter-spacing: 2%;
    vertical-align: middle;
  }

  @media (max-width: 1024px) {
    h2 {
      font-size: 48px; /* Tablet */
    }
    h1{
      font-size: 48px; /* Tablet */
    }
}

/* Mobile */
@media (max-width: 640px) {
  h2 {
    font-size: 32px; /* Mobile */
    padding: 19px 0px;
    
  }
  h3{
    line-height: 50px;
    width: 100%;
  }
  h1{
    font-size: 45px; /* Mobile */
       line-height: 50px;
  } 
  .dark-text{
    font-size: 22px;
  }
  P{
    width: 100%;
  }
}

html{

    max-width: 1735px;      
   width: 100%;   
    margin-left: auto;
    margin-right: auto;
}



body {
    margin: 0;
    padding: 0;
     max-width: 1735px;      
   width: 100%;   
    margin-left: auto;
    margin-right: auto;
    font-family: Aeonik, sans-serif;
    font-weight: lighter;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}

.container {
    width: 1735px;      
    max-width: 100%;   
    margin: 0 auto;  
    padding-left: 135px;
    padding-right: 135px;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    width: 90%;       /* Use percentage to fit screen */
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .container {
    width: 95%;       /* Almost full width */
    padding-left: 20px;
    padding-right: 20px;
  }
}


button {
    display: flex;
    cursor: pointer;
    font-family: Aeonik, sans-serif;
    font-weight: lighter;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: rgba(50, 95, 236, 1);
    color: rgba(239, 239, 239, 1);
    padding: 12px 30px;
    border-radius: 50px;
    gap: 10px;
}


