
:root {
   --h1-size: 60px;
  --h1-line: 1.15;
  --p-color: rgba(255, 255, 255, 0.7);
  --p-size: 14px;
    --h1-gradient: linear-gradient(
    91.16deg,
    #325FEC 0%,       /* start blue */
    #000000 40%,      /* black starts */
    #000000 60%,      /* black ends */
    #325FEC 100%      /* end blue */
  );
  --h2-size:68px;
  --button-color-:  rgba(50, 95, 236, 1);
  --button-padding-: 19px 43px;
}

@font-face {
  font-family: 'Aeonik-regular';
  src: url('/src/assets/fonts/aeoniktrial-regular.otf') format('opentype');

}
@font-face {
  font-family: 'Aeonik-medium';
  src: url('/src/assets/fonts/aeoniktrial-medium.otf') format('opentype');

}
html, body {
    width: 100%;
    min-width: 100%;
}
/* #root {
  display: flex;
  justify-content: center;
} */


/* This is the container that holds your Scaler */
.zoom-lock-wrapper {
  display: flex;
  justify-content: flex-start; /* Keeps site pinned to left if using top-left origin */
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
}

/* The actual div that gets the 'scale()' transform */
.scaler-content {
  /* width is set dynamically in React (1440px), but we ensure it's a block */
  display: flex;
  flex-direction: column;
  will-change: transform; /* Performance optimization for GSAP and scaling */
}
p, a, li, button {
  font-family: 'Aeonik-regular' !important;
}

h1, h2, h3 , h4 , h5 , h6{
  font-family: 'Aeonik-medium' !important;
  letter-spacing: 0 !important;
}
p {
  color: var(--p-color);
  font-size: var(--p-size);
  line-height: 1.33;
  font-weight: 400;
}

/* redefine and immediately use them */
p.dark-text {
  --p-color: rgba(0,0,0,0.7);
  --p-size: 25px;
  color: var(--p-color);
  font-size: var(--p-size);
}

p.white-text {
  --p-color: rgba(243, 243, 243, 0.7);
  --p-size: 25px;
  color: var(--p-color);
  font-size: var(--p-size);
}


p.blog-text{
  --p-color: rgba(0,0,0,0.7);
  --p-size: 20px;
  color: var(--p-color);
  font-size: var(--p-size);
}

.h1-large {
  --h1-size: 160px;
  --h1-line: 1.1;
}

.h1-large-color {
  --h1-size: 160px;
  --h1-line: 1.1;
   --h1-gradient:linear-gradient(91.16deg, #325FEC 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #325FEC 102.48%);
;
}
h1.card-heading{
   --h1-size: 45px;
  --h1-line: 1.1;
}

h1.tab-card-heading{
   --h1-size: 40px;
  --h1-line: 1.1;
}

h1.progress-bar{
   --h1-size: 35px;
  --h1-line: 1.1;
}

h1.teamcard-title{
   --h1-size: 35px;
  --h1-line: 1.1;
     --h1-gradient:linear-gradient(91.16deg, #325FEC 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #325FEC 102.48%);
  text-align: left;
}
h1 {
  font-weight: 300 !important;
   font-size: var(--h1-size);
  line-height: var(--h1-line);

  background: var(--h1-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  /* for Firefox */
  color: transparent;

  margin: 0;
  display: inline-block;  /* ensures gradient fits text width */
}

h2.team-title{
  --h2-size: 68px;
}


h2.recentproject-title{
  --h2-size: 68px;
}
  h2 {
    font-weight: 300;
    line-height: 1.1;
    background: linear-gradient(
      91.16deg,
      #325FEC 1.74%,
      #FFFFFF 43.71%,
      #FFFFFF 61.62%,
      #325FEC 102.48%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--h2-size);
  }
  h3{
    font-weight: 300;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0%;
    background: linear-gradient(91.16deg, #BFBFBF 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #BFBFBF 102.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-gradient-text{
    background: linear-gradient(91.16deg, #325FEC 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #325FEC 102.48%);
 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  @media (max-width: 1024px) {

    h1{
      font-size: 48px; /* Tablet */
    }
}

/* Mobile */
@media (max-width: 640px) {
  button.header-b{
 padding: 5px 30px;
 background: #325fec;
}
  h1.card-heading {
    --h1-size: 25px;
    --h1-line: 1.1;
  }
  h1.progress-bar{
    --h1-size: 25px;
    --h1-line: 1.5;
    text-align: center;
  }

  .h1-large {
  --h1-size: 60px;
  --h1-line: 1.1;
}
h2.recentproject-title{
  --h2-size: 25px;
}

  h1 {
    font-size: 45px;
    line-height: var(--h1-line);
  }
  h2 {
    font-size: 45px;
    padding: 19px 0px;
  }
  h3{
    line-height: 50px;
    width: 100%;
  }
p.dark-text {
  --p-size: 18px;
}
p.white-text{
  --p-size: 18px;
}

.h1-large-color{
  font-size: 45px;
}
  P{
    width: 100%;
  }
}


html {
    max-width: 1928px;
    width: 100%;
}



body {
    margin: 0;
    padding: 0; 
    width: 100%;   
    max-width: 100%;   
    margin-left: auto;
    margin-right: auto;
    font-family: Aeonik, sans-serif;
    font-weight: lighter;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #f0f1fa;
}

body.team-page {
  background-color: #000000;
}
.animated-gradient {
  /* Your original colors, but stretched to 200% width */
  background: linear-gradient(
    91.16deg,
    #325fec 1.74%,
    #000000 63.71%,
    #000000 61.62%,
    #325fec 102.48%
  );
  background-size: 200% 200%;
  
  /* Applying the animation */
  animation: moveGradient 3s ease infinite;
  
  /* Standard styling for visibility */
  width: 100%;
  /* height: 200px; */
  border-radius: 8px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding-left: 135px;
    padding-right: 135px;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    width: 100%;       /* Use percentage to fit screen */
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .container {
    width: 95%;       /* Almost full width */
    padding-left: 20px;
    padding-right: 20px;
  }
}

button {
  display: inline-flex; /* shrink-wrap to content */
  cursor: pointer;
  font-family: Aeonik, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 100%;
  background-color: var(--button-color-);
  color: rgba(239, 239, 239, 1);
  padding: var(--button-padding-);
  border-radius: 50px;
  gap: 10px;
  width: auto; /* important: do not stretch */
  box-sizing: border-box; /* keep padding inside */
  opacity: 0.9;
}

button.gray {
  background-color: #191919;
 
}

button.header-b{
 padding: 12px 30px;
 background: #325fec;
}

button.white-opacity {
  background-color: #466fee;
  color: #fff;
  backdrop-filter: blur(6px); 
}
/* Ripple + GSAP setup */
.gsap-btn {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.btn-content {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* .btn-flair {
  position: absolute;
  inset: 0;
  pointer-events: none;
  transform: scale(0);
  transform-origin: 0 0;
  z-index: 1;
}

.btn-flair::before {
  content: "";
  position: absolute;
  width: 180%;
  aspect-ratio: 1 / 1;
  background: var(--button-color, #000c77); 
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
}

.btn-flair:hover {
  color: #fff;
} */


/* Blue button default */
button {
  background-color: var(--button-color-);
  color: #fff;
}

/* Gray button default */
button.gray {
  background-color: #191919;
  color: #fff;
}




.services-badge-secondry {
    font-size: 14px;
    padding: 7px 26px !important;
    display: inline-block;
    border-radius: 24px;
    color: #000000b2;
    font-weight: 500;

    border: 2px solid transparent; /* border thickness */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: 
        linear-gradient(#f0f1fa, #f0f1fa), /* inner background white */
        linear-gradient(164deg, #504CFF 26.9%, rgba(80, 76, 255, 0) 99.52%); /* gradient border */
}


.footer-text-p{
font-weight: 400;
font-size: 16px;
line-height: 29px;
letter-spacing: 0%;

}